/*common*/
.failure , .success{
	text-align: center;
	padding: 15px;
	width: 300px;
	margin:10px 20px;
	color: white;
	background-color: orange;
}

ul li {
	list-style: none;
}

.line{
	text-decoration: none;
}

header{
	width: 100%;
	padding: 5px;
	background-color: tomato;
	color: #fff;
	margin: 0px;
}

footer {
	width: 100%;
	background-color: tomato;
	color: #fff;
	margin: 0px;
	position: absolute;
	bottom: 0px;
}

footer h1{
	padding: 5px;
}

footer span {
	margin-left: 30px;
}

body {
	margin: 0px;
	padding: 0px;
	position: relative;
	min-height: 100vh;
	padding-bottom: 100px;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

table th {
	background-color: pink;
}

table th, table td {
	border: solid 1px black;
	padding: 10px 20px;
}

table td {
	background-color: #f1c8c861;
	text-align: center;
}

.top,.new,.edit,.show{
	padding-left: 20px;
}


/*new*/
.make input{
	width: 100%;
  padding: 5px;
  font-size: 12px;
}

/*show*/
.detail_memo{
	width: 100%;
	height: 100px;
}

